---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import InternalHero from "../components/InternalHero.astro";
---

<Layout title="Politica de Privacidad - Mecánica y servicios Diversos ">
	<Navbar />
	<InternalHero image="/img/heros/people.webp" />

	<div class="py-10 md:py-20 px-6 md:px-0 container mx-auto" id="work">
		<div class="max-w-4xl md:p-0">
			<h1 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mb-2">
				Política de Privacidad
			</h1>
			<p class="mb-6">Última actualización: 01/08/2024</p>

			<p>
				En Mecánica y Servicios Diversos  (en adelante, "la Empresa"), respetamos
				su privacidad y estamos comprometidos a proteger la información
				personal que usted comparte con nosotros. Esta Política de
				Privacidad describe cómo recopilamos, utilizamos, y protegemos
				su información personal cuando visita nuestro sitio web https://mecanicayserviciosdiversos.com (en adelante, "el Sitio").
			</p>

			<h2 class="mb-2 mt-4">1. Información que Recopilamos</h2>
			<p>
				Podemos recopilar y procesar los siguientes tipos de información
				personal:
			</p>
			<ul>
				<li>
					<strong>Información de contacto</strong>: como nombre,
					dirección de correo electrónico, número de teléfono y
					dirección postal.
				</li>
				<li>
					<strong>Información técnica</strong>: como la dirección IP,
					tipo de navegador, sistema operativo, y detalles de las
					visitas al Sitio.
				</li>
				<li>
					<strong>Información proporcionada por usted</strong>: como
					datos enviados a través de formularios, incluyendo
					currículums, consultas, o solicitudes de servicio.
				</li>
			</ul>

			<h2 class="mb-2 mt-4">2. Uso de la Información</h2>
			<p>La información que recopilamos puede ser utilizada para:</p>
			<ul>
				<li>Procesar y responder a sus solicitudes o consultas.</li>
				<li>Mejorar nuestro Sitio y los servicios que ofrecemos.</li>
				<li>
					Enviar comunicaciones relacionadas con nuestros productos,
					servicios o eventos que puedan ser de su interés.
				</li>
				<li>
					Cumplir con obligaciones legales y proteger los derechos e
					intereses de la Empresa.
				</li>
			</ul>

			<h2 class="mb-2 mt-4">3. Protección de su Información</h2>
			<p>
				Nos comprometemos a proteger la información personal que
				recopilamos. Implementamos medidas de seguridad técnicas,
				administrativas y físicas para proteger su información contra el
				acceso no autorizado, pérdida, destrucción, o divulgación.
			</p>

			<h2 class="mb-2 mt-4">4. Compartir su Información</h2>
			<p>
				No compartimos su información personal con terceros, excepto en
				los siguientes casos:
			</p>
			<ul>
				<li>
					Con proveedores de servicios que nos ayudan a operar nuestro
					negocio, siempre que estos terceros estén sujetos a
					obligaciones de confidencialidad.
				</li>
				<li>
					Cuando sea requerido por ley o para proteger los derechos,
					propiedad, o seguridad de la Empresa, nuestros empleados,
					clientes, o el público.
				</li>
			</ul>

			<h2 class="mb-2 mt-4">5. Cookies y Tecnologías Similares</h2>
			<p>
				Utilizamos cookies y tecnologías similares para mejorar su
				experiencia en el Sitio, analizar el tráfico y personalizar el
				contenido. Usted puede optar por deshabilitar las cookies en la
				configuración de su navegador, aunque esto podría afectar el
				funcionamiento del Sitio.
			</p>

			<h2 class="mb-2 mt-4">6. Derechos del Usuario</h2>
			<p>
				En conformidad con las leyes de privacidad aplicables en El
				Salvador, usted tiene derecho a:
			</p>
			<ul>
				<li>
					Acceder a la información personal que poseemos sobre usted.
				</li>
				<li>
					Solicitar la corrección de cualquier inexactitud en su
					información personal.
				</li>
				<li>
					Oponerse al procesamiento de su información personal en
					determinadas circunstancias.
				</li>
				<li>
					Solicitar la eliminación de su información personal cuando
					ya no sea necesaria para los fines para los cuales fue
					recopilada.
				</li>
			</ul>
			<p>
				Para ejercer estos derechos, puede contactarnos a través de <a
					href="mailto:hamilton.caballero@mecanicayserviciosdiversos.com"
					>hamilton.caballero@mecanicayserviciosdiversos.com</a
				>.
			</p>

			<h2 class="mb-2 mt-4">7. Cambios a esta Política de Privacidad</h2>
			<p>
				Nos reservamos el derecho a modificar esta Política de
				Privacidad en cualquier momento. Cualquier cambio será publicado
				en esta página y, si son cambios significativos, se lo
				notificaremos a través del Sitio o por otros medios.
			</p>

			<h2 class="mb-2 mt-4">8. Contacto</h2>
			<p>
				Si tiene alguna pregunta o inquietud sobre esta Política de
				Privacidad o sobre el manejo de su información personal, por
				favor contáctenos en:
			</p>
			<p>
				<strong>Mecánica y Servicios Diversos</strong><br />
				Correo Electrónico: <a
					href="mailto:hamilton.caballero@mecanicayserviciosdiversos.com"
					>hamilton.caballero@mecanicayserviciosdiversos.com</a
				><br />
				Teléfono: +503 7539-4734
			</p>
			<p>
				Al utilizar nuestro Sitio, usted acepta esta Política de
				Privacidad.
			</p>
		</div>
	</div>

	<Footer />
</Layout>
