---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import InternalHero from "../components/InternalHero.astro";
---

<Layout title="Términos de Uso - Mecánica y servicios Diversos">
	<Navbar />
	<InternalHero image="/img/heros/people.webp" />

	<div class="py-10 md:py-20 px-6 md:px-0 container mx-auto" id="work">
		<div class="max-w-4xl md:p-0">
			<h1 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mb-2">
				Términos de Uso
			</h1>
			<p class="mb-6">Última actualización: 01/08/2024</p>
			<p>
				Bienvenido a Mecánica y Servicios Diversos. Al acceder y utilizar
				nuestro sitio web https://mecanicayserviciosdiversos.com/ (en adelante, "el Sitio"),
				usted acepta cumplir y estar sujeto a los siguientes términos y
				condiciones (en adelante, "Términos de Uso"). Si no está de
				acuerdo con estos Términos de Uso, le recomendamos que no
				utilice nuestro Sitio.
			</p>

			<h2 class="mb-2 mt-4">1. Uso del Sitio</h2>
			<p>
				El Sitio y su contenido son proporcionados únicamente para su
				uso personal y no comercial. Usted se compromete a utilizar el
				Sitio de manera legal y a no involucrarse en actividades que
				puedan dañar, interrumpir o afectar el funcionamiento del Sitio
				o el disfrute de otros usuarios.
			</p>

			<h2 class="mb-2 mt-4">2. Propiedad Intelectual</h2>
			<p>
				Todo el contenido presente en el Sitio, incluyendo pero no
				limitado a textos, gráficos, logotipos, imágenes, videos, y
				software, es propiedad de Mecánica y Servicios Diversos o de sus
				licenciantes y está protegido por las leyes de propiedad
				intelectual aplicables. Usted no puede copiar, modificar,
				distribuir, reproducir o utilizar de cualquier otra manera el
				contenido del Sitio sin el permiso previo y por escrito de
				Mecánica y Servicios Diversos.
			</p>

			<h2 class="mb-2 mt-4">3. Enlaces a Terceros</h2>
			<p>
				El Sitio puede contener enlaces a sitios web de terceros que no
				son propiedad ni están controlados por Mecánica y Servicios Diversos.
				No tenemos control sobre, y no asumimos ninguna responsabilidad
				por, el contenido, las políticas de privacidad o las prácticas
				de sitios web de terceros. Al hacer clic en un enlace de
				terceros, usted reconoce que lo hace bajo su propio riesgo.
			</p>

			<h2 class="mb-2 mt-4">4. Exención de Responsabilidad</h2>
			<p>
				El contenido del Sitio se proporciona "tal cual" y "según
				disponibilidad". Mecánica y Servicios Diversos no ofrece garantías de
				ningún tipo, expresas o implícitas, sobre la precisión,
				confiabilidad o disponibilidad del contenido o los servicios
				ofrecidos a través del Sitio. En la medida permitida por la ley,
				Mecánica y Servicios Diversos no será responsable por ningún daño
				directo, indirecto, incidental, especial o consecuente que surja
				del uso o la imposibilidad de uso del Sitio.
			</p>

			<h2 class="mb-2 mt-4">5. Modificaciones a los Términos de Uso</h2>
			<p>
				Mecánica y Servicios Diversos se reserva el derecho de modificar estos
				Términos de Uso en cualquier momento. Cualquier cambio será
				efectivo inmediatamente después de su publicación en el Sitio.
				Al continuar utilizando el Sitio después de la publicación de
				las modificaciones, usted acepta estar sujeto a los Términos de
				Uso revisados.
			</p>

			<h2 class="mb-2 mt-4">6. Terminación</h2>
			<p>
				Nos reservamos el derecho de suspender o terminar su acceso al
				Sitio en cualquier momento y por cualquier motivo, sin previo
				aviso ni responsabilidad alguna. Las disposiciones de estos
				Términos de Uso que por su naturaleza deban continuar después de
				la terminación, continuarán vigentes, incluyendo, sin
				limitación, las disposiciones de propiedad, las exenciones de
				responsabilidad y las limitaciones de responsabilidad.
			</p>

			<h2 class="mb-2 mt-4">7. Ley Aplicable</h2>
			<p>
				Estos Términos de Uso se regirán e interpretarán de acuerdo con
				las leyes de El Salvador. Usted acepta que cualquier disputa
				relacionada con estos Términos de Uso será sometida a la
				jurisdicción exclusiva de los tribunales competentes de El
				Salvador.
			</p>

			<h2 class="mb-2 mt-4">8. Contacto</h2>
			<p>
				Si tiene alguna pregunta o inquietud sobre estos Términos de
				Uso, por favor contáctenos en:
			</p>
			<p>
				<strong>Mecánica y Servicios Diversos</strong><br />
				Correo Electrónico: <a
					href="mailto:hamilton.caballero@mecanicayserviciosdiversos.com"
					>hamilton.caballero@mecanicayserviciosdiversos.com</a
				><br />
				Teléfono: +503 7539-4734
			</p>
		</div>
	</div>

	<Footer />
</Layout>
