---
const imagePath = Astro.props.image;
---
<div
    class="py-20 sm:py-15 md:py-26 lg:py-32 bg-no-repeat bg-top bg-local sm:bg-fixed bg-contain"
    style=`background-image: url('${imagePath}');`
>
</div>