---
const services = [
    {name: "Mecánica Industrial",
    href: "/services/mecanica-industrial",
    target: "self"},
    {name: "Construcción",
    href: "/services/construccion",
    target: "self"},
    {name: "Tuberías y Válvulas",
    href: "/services/tuberias-y-valvulas",
    target: "self"},
    {name: "Aire Acondicionado y Refrigeración",
    href: "/services/aire-acondicionado-y-refrigeracion",
    target: "self"},
    {name: "Ventilación Mecánica",
    href: "/services/ventilacion-mecanica",
    target: "self"},
    {name: "Otros Servicios",
    href: "/services/otros-servicios",
    target: "self"},
]
---
<nav class="bg-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <button id="mobile-menu-button" class="md:hidden ">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
        <div class="hidden md:flex space-x-5">
            <a class="text-gray-700" href="/">Inicio</a>
            <div class="relative group">
                <a href="#" class="p-2 text-gray-700">Servicios</a>
                <div class="absolute left-0 mt-1 w-48 border bg-white rounded-md shadow-lg hidden group-hover:block overflow-hidden">
                    {services.map((item) => (
                        <a href={item.href} class="block px-4 py-2 text-sm  text-gray-700 hover:bg-blue-900 hover:text-white">{item.name}</a>
                       ))}
                </div>
            </div>
            <a class="text-gray-700" href="/nosotros">Nosotros</a>
        </div>
        <div class="md:flex space-x-5">
            <a href="//wa.me/+50375394734" target="_blank" class="px-5 py-2 bg-slate-800 hover:bg-blue-900 text-white rounded-full flex gap-2">
                <svg class="w-5 h-5" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                </svg>
                <span class="hidden md:block">Llamar ahora</span>
            </a>
        </div>
    </div>
    <div id="mobile-menu" class="hidden md:hidden mt-4 transition-all duration-300 ease-in-out">
        <a href="/" class="block  py-2">Inicio</a>
        <div>
            <button @click="open = !open" class="w-full text-left  py-2">
                Servicios
                <svg class="w-4 h-4 inline-block ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div x-show="open" class="pl-4">
                {services.map((item) => (
                    <a class="block py-2" href={item.href} >{item.name}</a>
                   ))}
            </div>
        </div>
        <a href="#" class="block  py-2">Contacto</a>

    </div>
</nav>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', function() {
            if (mobileMenu.style.display === 'none' || mobileMenu.style.display === '') {
                mobileMenu.style.display = 'block';
            } else {
                mobileMenu.style.display = 'none';
            }
        });
    });
</script>