---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Mecánica y servicios diversos" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/large-logo.png" />
		<meta name="generator" content="MaderaCode" />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://unpkg.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="preload" as="image" href="/img/background.webp" type="image/webp">
		<script is:inline>
			console.log("%c Fast, right? Built with 🧡 by  https://maderacode.com", "background-color: #EB5E28; color: #FFF; font-size:10px; padding:8px 10px 6px; border-radius:4px;")
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>